<!--comparison-->
{% extends "base.html" %}
{% block title %}FaceMash{% endblock %}
{% block body %}
<div class="comparison">
<table><tr><td>
<form action="/vote" method="POST">
<input type="hidden" name="winner" value="{{ pic1.id }}" />
<input type="hidden" name="looser" value="{{ pic2.id }}" />
<button><img id="picture-1" name="vote" src="{{ pic1.image_path }}" /></button>
</form>
</td><td>
<form action="/vote" method="POST">
<input type="hidden" name="winner" value="{{ pic2.id }}" />
<input type="hidden" name="looser" value="{{ pic1.id }}" />
<button><img id="picture-2" src="{{ pic2.image_path }}" /></button>
</form>
</td></tr></table>
</div>
{% endblock %}